{{- if not .Values.persistence.workDir.existingClaim -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: { { printf "%s-workdirs" (include "platforma.fullname" .) } }
  labels: { { - include "platforma.labels" . | nindent 4 } }
spec:
  accessModes:
    - "ReadWriteMany"
  resources:
    requests:
      storage: { { .Values.persistence.workDir.size } }
  storageClassName: { { .Values.persistence.workDir.storageClass } }
{{- end -}}
